<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dounine.mapper.system.rbac.RolePermissionMapper">

	<cache flushInterval="600000" size="1024"
		readOnly="true" />

	<resultMap type="rolePermission" id="rolePermissionMap">
		<result property="roleId" column="roleId" />
		<result property="permissionId" column="permissionId" />
	</resultMap>

	<select id="select" resultMap="rolePermissionMap" parameterType="rolePermission">
		SELECT * FROM `dounine_admin_rbac_role_permission` where roleId =
		#{roleId}
	</select>

	<insert id="insert" parameterType="rolePermission">
		INSERT INTO
		`dounine_admin_rbac_role_permission`(`roleId`,`permissionId`)
		VALUES(#{roleId},#{permissionId})
	</insert>

	<delete id="delete" parameterType="rolePermission">
		delete from
		`dounine_admin_rbac_role_permission` where roleId = #{roleId}
	</delete>

</mapper>
