.iicon-download{
	background: url(icon/dounine-icon-download.png) left center no-repeat;
}
.iicon-comment{
	background: url(icon/dounine-icon-comment.png) left center no-repeat;
}
.iicon-dynamic{
	background: url(icon/dounine-icon-dynamic.png) left center no-repeat;
}
.iicon-add{
	background: url(icon/dounine-icon-add.png) left center no-repeat;
}
.iicon-menu{
	background: url(icon/dounine-icon-menu.png) left center no-repeat;
}
.iicon-msg{
	background: url(icon/dounine-icon-msg.png) left center no-repeat;
}
.iicon-search{
	background: url(icon/dounine-icon-search.png) left center no-repeat;
}