<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
   	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="  
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
	">	
	<!-- mail邮箱配置 -->    
	<bean id="mailSenderInfo" class="com.yunguanshi.email.MailSenderInfo">
		<property name="mailServerHost" value="${mail.smtp}"/>
		<property name="validate" value="${mail.validate}" />
		<property name="userName" value="${mail.userName}" />
		<property name="password" value="${mail.password}" />
		<property name="fromAddress" value="${mail.fromAddress}" />
		<property name="subject" value="${mail.subject}" />
	</bean>

</beans>