<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- <settings>
		<setting name="cacheEnabled" value="false"/>
	</settings> -->
	<typeHandlers>
		<typeHandler handler="com.dounine.handler.StatusTypeHandler" javaType="com.dounine.enumtype.StatusType"/>
		<typeHandler handler="com.dounine.handler.SortTypeHandler" javaType="com.dounine.enumtype.SortType"/>
		<typeHandler handler="com.dounine.handler.TimeTypeHandler" javaType="com.dounine.enumtype.TimeType"/>
	</typeHandlers>
</configuration>