<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:context="http://www.springframework.org/schema/context"  
    xmlns:mvc="http://www.springframework.org/schema/mvc" 
    xmlns:aop="http://www.springframework.org/schema/aop"  
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans   
    http://www.springframework.org/schema/beans/spring-beans.xsd  
    http://www.springframework.org/schema/context  
    http://www.springframework.org/schema/context/spring-context-4.1.xsd  
    http://www.springframework.org/schema/mvc  
    http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd
    http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx-4.1.xsd
	http://www.springframework.org/schema/aop 
    http://www.springframework.org/schema/aop/spring-aop-4.1.xsd 
    ">  
        <!-- ①：对web包中的所有类进行扫描，以完成Bean创建和自动依赖注入的功能 -->
   		<context:component-scan base-package="com.dounine.controller" /> 
	    
		<!-- 在业务层开启事务 -->		
		<!-- <tx:annotation-driven transaction-manager="transactionManager"/> -->
		
        <!-- 开启注解功能 -->
		<mvc:annotation-driven >
			<mvc:message-converters>
		        <bean class="org.springframework.http.converter.StringHttpMessageConverter">
		            <property name="supportedMediaTypes">
		                <list>
		                    <value>text/html; charset=utf-8</value>
		                </list>
		            </property>
		        </bean>
		    </mvc:message-converters>
		</mvc:annotation-driven>
		
   		<!-- 允许访问静态资源 -->
      	<mvc:resources location="/resource/" mapping="/resource/**"/>
      	
      	<!--  ③：对模型视图名称的解析，即在模型视图名称添加前后缀 -->
      	<bean id="viewResolver"
      	 	class="org.springframework.web.servlet.view.InternalResourceViewResolver">
      	 	<property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
       		<property name="prefix" value="/WEB-INF/views/"/>
          	<property name="suffix" value=".jsp"/>
      	</bean>
      	
   		<!-- 消息转换器 -->
   		<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
			<property name="messageConverters">
				<list>
					<bean
						class="org.springframework.http.converter.ByteArrayHttpMessageConverter" />
					<bean
						class="org.springframework.http.converter.StringHttpMessageConverter" />
					<bean
						class="org.springframework.http.converter.FormHttpMessageConverter" />
					<bean
						class="org.springframework.http.converter.xml.SourceHttpMessageConverter" />
					<bean
						class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter" />
				</list>
			</property>
		</bean> 
        
      	<!-- springmvc 控制器异常跳转 -->
      	<bean id="globalHandlerExceptionResolver" class="com.dounine.interceptor.GlobalHandlerExceptionResolver"/>
      	
      	<!-- 定时任务 -->
		<bean id="schedulerFactoryBean" class="org.springframework.scheduling.quartz.SchedulerFactoryBean" />
      	
		<!-- springMVC拦截器 -->
	  	<mvc:interceptors> 
			<bean class="com.dounine.interceptor.LayoutHandlerInterceptor">
				<!-- 以下地址不给予拦截 -->
				<property name="excludeUrls">
					<list>
						<value>/admin/login.html</value>
						<value>/admin/noSession.html</value>
						<value>/admin/system/rbac/user/user_login.action</value>
						<value>/admin/system/rbac/user/user_check.action</value>
					</list>
				</property>
			</bean>
	    </mvc:interceptors> 
	    
		<!-- 配置文件上传 -->
		<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
         <property name="defaultEncoding" value="UTF-8" />
         <property name="maxUploadSize">  
	         <value>52428800</value>  
	     </property>  
	     <property name="maxInMemorySize">  
	         <value>2048</value>  
	     </property>  
      </bean> 
      	
</beans>