<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dounine.mapper.website.ArticleClassMapper">

	<resultMap type="articleClass" id="articleClassMap">
		<id property="id" column="id" />
		<result property="name" column="name" />
		<result property="description" column="description" />
	</resultMap>
	
	<!-- 表名 -->
	<sql id="table_name">
		`dounine_admin_website_article_class`
	</sql>

	<!-- 表中所有列 -->
	<sql id="Base_Column_List">
		id,createTime,name,description
	</sql>
	
	<sql id="order_by">
		<choose>
			<when test="sort!=null and sort!='' and order!=null and order!=''">
				<choose>
					<when test="sort=='createTimeT' or sort=='createTimeC'">
						order by me.createTime ${order}
					</when>
					<otherwise>
						order by me.${sort} ${order}
					</otherwise>
				</choose>
			</when>
			<otherwise>
				order by me.createTime desc
			</otherwise>
		</choose>
	</sql>

	<!-- 查询条件 -->
	<sql id="Example_Where_Clause">
		WHERE 1=1
		<trim suffixOverrides=",">
			<if test="id != null">
				AND id = #{id}
			</if>
			<if test="name != null and name != ''">
				AND name like
				CONCAT('%',#{name},'%')
			</if>
			<if
				test="description != null and description != ''">
				AND description like
				CONCAT('%',#{description},'%')
			</if>
		</trim>
	</sql>

	<select id="select" resultMap="articleClassMap"
		parameterType="articleClass">
		SELECT
		<include refid="Base_Column_List" />
		FROM <include refid="table_name"/> as me
		<include refid="Example_Where_Clause" />
		<include refid="order_by"/>
		LIMIT #{offSet},#{rows}
	</select>

	<select id="count" resultType="int" parameterType="articleClass">
		SELECT
		COUNT(1) FROM
		<include refid="table_name"/>
		<include refid="Example_Where_Clause" />
	</select>

	<insert id="insert" parameterType="articleClass"
		useGeneratedKeys="true" keyProperty="id">
		INSERT INTO
		<include refid="table_name"/>(`name`,`description`,`createTime`)
		VALUES(#{name},#{description},#{createTime})
	</insert>

	<update id="update" parameterType="articleClass">
		UPDATE <include refid="table_name"/> SET
		<trim suffixOverrides=",">
			<if test="name != null  and name != '' ">
				name = #{name},
			</if>
			<if
				test="description != null  and description != '' ">
				description = #{description},
			</if>
			<if test="status != null  ">
				status = #{status},
			</if>
		</trim>
		WHERE `id`=#{id}
	</update>

	<update id="congeal" parameterType="articleClass">
		UPDATE
		<include refid="table_name"/> SET
		status = #{status}
		WHERE
		`id`=#{id}
	</update>
	<update id="thaw" parameterType="articleClass">
		UPDATE
		<include refid="table_name"/> SET
		status = #{status}
		WHERE
		`id`=#{id}
	</update>

	<delete id="delete" parameterType="articleClass">
		DELETE FROM
		<include refid="table_name"/> where id
		=#{id}
	</delete>

</mapper>
