<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dounine.mapper.product.ProductDetailMapper">

	<cache flushInterval="600000" size="1024"
		readOnly="true" />

	<resultMap type="productDetail" id="productDetailMap">
		<id property="id" column="id" />
		<result property="name" column="name" />
		<result property="content" column="content" />
		<result property="productNav.id" column="productNavId" />
		<result property="product.id" column="product_id" />
	</resultMap>

	<!-- 表名 -->
	<sql id="table_name">
		`dounine_admin_product_detail`
	</sql>


	<!-- 表中所有列 -->
	<sql id="Base_Column_List">
		id,name
	</sql>

	<!-- 查询条件 -->
	<sql id="Example_Where_Clause">
		where 1=1
		<trim suffixOverrides=",">
			<if test="id != null">
				and me.id = #{id}
			</if>
			<if test="name != null and name != ''">
				and me.name like concat(concat('%',
				'${name}'), '%')
			</if>
		</trim>
	</sql>

	<select id="select" resultMap="productDetailMap" parameterType="productDetail">
		SELECT
		<include refid="Base_Column_List" />,you.id as productNavId
		FROM
		<include refid="table_name"/> as me INNER JOIN `dounine_admin_product_nav` as you ON me.productNavId = you.id 
		INNER JOIN `dounine_admin_product` as pro ON me.productId = pro.id
		<include refid="Example_Where_Clause" />
		ORDER BY createTime desc
		limit #{offSet},#{rows}
	</select>

	<insert id="insert" parameterType="productDetail"
		useGeneratedKeys="true" keyProperty="id">
		INSERT INTO
		<include refid="table_name"/>(`name`,`productId`,`content`,`productNavId`)
		VALUES(#{name},#{product.id},#{content},#{productNav.id})
	</insert>

	<update id="update" parameterType="productDetail">
		UPDATE <include refid="table_name"/> SET
		<trim suffixOverrides=",">
			<if test="name != null  and name != '' ">
				name = #{name},
			</if>
			<if test="product != null and product.id!=null">
				productId = #{product.id},
			</if>
			<if test="content != null">
				content = #{content},
			</if>
		</trim>
		where productId = #{product.id} and productNavId = #{productNav.id}
	</update>

	<select id="count" resultType="int" parameterType="productDetail">
		SELECT
		count(1) FROM
		<include refid="table_name"/> as me
		<include refid="Example_Where_Clause" />
	</select>

	<delete id="delete" parameterType="productDetail">
		delete from
		<include refid="table_name" />
		where `id` = #{id}
	</delete>
	
	<select id="find" resultType="productDetail" parameterType="productDetail">
		SELECT
		me.id,me.name,me.content
		FROM
		<include refid="table_name" /> as me INNER JOIN `dounine_admin_product` 
		as pro ON me.productId = pro.id 
		INNER JOIN `dounine_admin_product_nav` as nav ON me.productNavId = nav.id
		where me.productId = #{product.id} and me.productNavId = #{productNav.id}
	</select>

</mapper>
